.TodoList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.TodoList__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid #232323;
  margin-bottom: 10px;
  width: 50%;
}

.TodoList__text {
  margin-right: 5px;
}
